<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C6CD6571CCDBB2500C8CE87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6CD66F1CCDBB2A00C8CE87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6CD67A1CCDBB2B00C8CE87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C7DBAAD1C561CCF001EF57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C7DBAC61C561CCF001EF57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C7DBAD11C561CCF001EF57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
